@media (min-width: 46rem) {
  .gameBoards {
    display: flex;
  }
}

.grid {
  text-align: center;
  margin: 0rem auto 1rem auto;
}

.grid p {
  padding: 0.2rem 2rem;
  color: white;
  background: crimson;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0px 16px 26px -9px rgba(30, 30, 60, 0.58);
}

.Main {
  max-width: 46rem;
  margin: auto;
  padding-bottom: 1rem;
}

.linkContainer {
  text-align: center;
  margin-bottom: 1rem;
}

.Main a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.Main a:hover {
  font-size: 1.1rem;
  color: grey;
}
