@font-face {
  font-family: 'NFLDolphins';
  src: url('../static/fonts/NFLDolphins.eot');
  src: url('../static/fonts/NFLDolphins.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/NFLDolphins.woff2') format('woff2'),
    url('../static/fonts/NFLDolphins.woff') format('woff'),
    url('../static/fonts/NFLDolphins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 46rem) {
  .gameBoards {
    display: flex;
  }
}

.grid {
  text-align: center;
  margin: 0rem auto 1rem auto;
}

.grid p {
  padding: 0.2rem 2rem;
  color: white;
  background: crimson;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0px 16px 26px -9px rgba(30, 30, 60, 0.58);
}

.Main {
  max-width: 46rem;
  margin: auto;
  padding-bottom: 1rem;
}

.linkContainer {
  text-align: center;
  margin-bottom: 1rem;
}

.Main a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.Main a:hover {
  font-size: 1.1rem;
  color: grey;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modalContent {
  margin: 10rem auto; /* 15% from the top and centered */
}

.modal h6 {
  font-family: NFLDolphins;
  font-size: 5rem;
  color: white;
}

.modal button {
  padding: 0.5rem 1rem;
}
