.square {
  border: black 1px solid;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.isHit {
  background-color: red !important;
}

.isMiss {
  background-color: green;
}

.shipSquare {
  background: blue;
}
