.square {
  border: gray 1px solid;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.isHit {
  background-color: #FF0000 !important;
}

.isMiss {
  background-color: #4FC1E9;
}

.shipSquare {
  background: #434A54;
}
